# Supabase Configuration
VITE_SUPABASE_URL=https://grpbotncanesedqnsgfc.supabase.co
VITE_SUPABASE_ANON_KEY=

# Paystack Configuration
PAYSTACK_SECRET_KEY=

# Pinata / IPFS (Optional for Demo)
PINATA_API_KEY=
PINATA_SECRET_KEY=
